<h2>About Us</h2><hr />
<p>This web app was created by 4 students for subject Internet Technologies at Faculty for Computer Science and Engineering</p><br />
<p>The name of students are:</p>
<ul>
    <li>Andrej Subasik</li>
    <li>Hristijan Chaushoski</li>
    <li>Darko Filipcev</li>
    <li>Stefan Tofceski</li>
</ul>
