<head>
    <style>

    </style>
</head>

<h1>Sell Assets</h1>
<p>
    Whether you're a programmer, game designer, texture artist or 3D modeler, you’re welcome to share your creations with everybody in the Finki developer community!

    You can sell 3D models, editor extensions, audio and many other types of content. It’s easy – just submit your awesome creations to the Asset Store and we’ll take care of the rest. You can actually make enough money to fund your life and your game!

    Once your submission is reviewed, you are free to set your own price for the asset. You’ll receive a 70% cut of each sale, which we pay out monthly or quarterly, depending on your selected payment method. Don’t forget to read the default Customer EULA that covers end-user use of the assets you sell.
</p>
<h2>Submitting your content to Finki Asset Store:</h2>
<ol>
    <li>If you do not have Finki Asset Store account create one <a href="@Url.Action("Register", "Account")">here</a></li>
    <li>If you are not registered as Publisher do so by creating account <a href="@Url.Action("Publisher", "Account")">here</a></li>
    <li>Once you submit application for publisher an admin has to review it and decide whether to accept it or not</li>
    <li>Once accepted you can publish your asset by filling <a href="@Url.Action("Publish", "Assets")">this</a> form</li>
</ol>